<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.MarkerMapper">

    <select id="select" parameterType="Integer" resultType="marker">
        SELECT * FROM marker WHERE id=#{id}
    </select>
    <select id="getKeyword" parameterType="String" resultType="marker">
        SELECT * FROM marker WHERE keyword=UPPER(#{keyword})
    </select>
    <select id="getMyMarker" parameterType="String" resultType="marker">
        SELECT * FROM marker WHERE writer=#{writer}
    </select>
    <select id="selectall" resultType="marker">
        SELECT * FROM marker
    </select>
    <select id="getRecent" resultType="marker">
    <![CDATA[
SELECT *
FROM (
    SELECT *
    FROM marker
    ORDER BY id DESC
)
WHERE ROWNUM <= 5
]]>
    </select>



    <insert id="insert" parameterType="marker">
        INSERT INTO marker
            (id, writer, keyword, title, lat, lng, img, star, detail)
        VALUES (marker_seq.NEXTVAL, #{writer},#{keyword},#{title}
        ,#{lat},#{lng},#{img},#{star},#{detail})
    </insert>
    <update id="update" parameterType="marker">
        UPDATE marker SET writer=#{writer}, keyword=#{keyword}, title=#{title}
            , lat=#{lat}, lng=#{lng}, img=#{img}, star=#{star}, detail=#{detail} WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM marker WHERE id=#{id}
    </delete>

</mapper>