<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.StudyMapper">

    <select id="getMyStudy" parameterType="string" resultType="study">
        SELECT dy.id, dy.writer, dy.startTime, dy.EndTime
             , dy.contents, dy.fileName_org, dy.fileName
             , de.name AS studentName, de.img AS studentImg
             , dy.rdate
        FROM study dy, student de
        WHERE dy.writer = de.id
        AND dy.writer=#{writer}
    </select>

    <select id="select" parameterType="Integer" resultType="study">
        SELECT dy.id, dy.writer, dy.startTime, dy.EndTime
             , dy.contents, dy.fileName_org, dy.fileName
             , de.name AS studentName, de.img AS studentImg
             , dy.rdate
        FROM study dy, student de
        WHERE dy.writer = de.id
        AND dy.ID=#{id}
        ORDER BY rdate DESC
    </select>

    <select id="selectall" resultType="study">
        SELECT dy.id, dy.writer, dy.startTime, dy.EndTime
             , dy.contents, dy.fileName_org, dy.fileName
             , de.name AS studentName, de.img AS studentImg
             , dy.rdate
        FROM study dy, student de
        WHERE dy.writer = de.id
        ORDER BY rdate DESC
    </select>

    <insert id="insert" parameterType="study">
        INSERT INTO study VALUES (study_seq.NEXTVAL,#{writer},#{startTime},#{endTime}
                                ,#{contents},TO_CHAR(SYSDATE,'yyyy.MM.dd hh24:mi:ss'),#{fileName},#{fileName_org})
    </insert>

    <update id="update" parameterType="study">
        UPDATE study SET writer=#{writer}, startTime=#{startTime}, endTime=#{endTime}
                        ,contents=#{contents}, fileName=#{fileName},fileName_org=#{fileName_org}
                       WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM study WHERE ID=#{id}
    </delete>

    <select id="getpage" resultType="study">
        SELECT dy.id, dy.writer, dy.startTime, dy.EndTime
             , dy.contents, dy.fileName_org, dy.fileName
             , de.name AS studentName, de.img AS studentImg
             , dy.rdate
        FROM study dy, student de
        WHERE dy.writer = de.id
        ORDER BY id DESC
    </select>

</mapper>